:root {
    --primary-color: #2a2a2a; /* Dark gray - text */
    --secondary-color: #C70039;
    --background-color: #f8f8f8; /* Off-white - backgrounds */
    --Box-color:  #dad8d8;
    --border-radius: 0.5em; /* Consistent border radius */
    --box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.397); /* Subtle shadow */
  }
  
.Main-Container{
    display: flex;
    flex-direction: row;
    
}
.TaskContainer{
    margin: 5em;
    width: 40%;
    min-width: 40%;
    display: flex;
    justify-content: space-around;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--Box-color);
    min-height: auto;   
}
.TaskCreator, .SubClassContainer{
    margin: 5em;
    width: 40%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--Box-color);
    min-height: auto;   
    align-items: center;
    /* justify-content: ce; */
}
.TaskCreator{
    min-width: 40em;
    width: 40%;
}
.SubClassContainer{
    display: flex;
    margin: 0em;
    background-color: rgba(255, 255, 255, 0.708);
    min-height: 80%;
    min-width: 90%;
}
.TaskCreator label, .TaskCreator input, .TaskCreator button{
    margin-left: 2em;
    margin-right: 2em;
}
.TaskCreator label{
    background-color: var(--secondary-color);
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: var(--border-radius);    
    width: 70%;

}

.TaskCreator button{    
    background-color: greenyellow;
    height: 3em;
    width: 10em;
    border-radius: var(--border-radius);
}
.TaskCreator input{
    width: 70%;
    border-radius: var(--border-radius);
    height: 3em;
}
.taskListColumn{    
    max-width: 35vh;
    max-height: 80vh;
    overflow-y: auto;
}
.taskListColumn h2{
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}
.taskListRight{
    background-color: yellow;
}
#taskManager {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 1em;
    height: 95vh;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius); 
    width: 100%;
    background-color: var(--background-color);
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}
input{
    margin-bottom: 1em;
}
.TaskContainer {
    display: flex;    
    overflow-y: auto;
    min-height: 70%;    
    min-width: 40em;
    width: 40%;    
}

.taskListColumn {
    flex: 1; /* Each column takes up equal width */
    padding: 10px; /* Adjust padding as needed */
}
.task{
    font-size: 15px; /* Sets the font size to 12 pixels */
    cursor: grab;
    /* height: 100%; */
    max-width: 100%;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
}
.task h1{
    background-color: #2a2a2a;
    text-align: center;
    /* width: 10em; */
    color: white;
    border-radius: 1em;
}
#tasksList .task {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px;
}
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  .TaskDisplay{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 20em;
    /* max-width: 15em; */
  }
  .TaskDisplay:first-child{
    margin-top: auto;    
  }
.DIVTASK{
    display: flex;
    max-width: 10em;
}
.TaskDisplay input{

    padding: 0;
    width: 3em;
}
.TaskDisplay label{
    background-color: white;
    padding: 0;
    width: 10em;
}