:root {
  --primary-color: #2a2a2a; /* Dark gray - text */
  --secondary-color: #C70039;
  --background-color: #f8f8f8; /* Off-white - backgrounds */
  --Box-color:  #dad8d8;
  --border-radius: 0.5em; /* Consistent border radius */
  --box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.397); /* Subtle shadow */
}
.Main-Container{
  display: flex;
  flex-direction: row;  
}
.user{
  border-radius: var(--border-radius);
  background-color:  var(--Box-color);
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin-bottom: 1em;
  overflow-x: auto;
  max-height: 20vh;
}
.navbar {
  /* position: fixed; */
  background-color: #b9b9b9;
}
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #000000;
  --text-secondary: #ececec;
  --bg-primary: #2c2222;
  --bg-secondary: #C70039;
  --transition-speed: 600ms;
}
.Users{
  margin-left: 3em;

  margin: 1em;
  height: 100%;
  min-height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  background-color: rgb(240, 240, 240);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius); 
}
.Groups-Conainer{
  
  min-height: 80vh;
  max-height: 80vh;
  min-width: 46em;
  /* margin-right: 5em;
  margin-left: 2em; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius); 
  overflow-x: auto;
  overflow-y: auto;
  /* min-width: 100%; */

}
.TitleGroups{
  /* -width: 100vh; */
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  
}
.TitleGroups h1{
  color: white;
}
.Groups-Conainer h1{
  color: #000000;
}
/* .List-User:first-child{
  margin-right: auto;
  margin-bottom: auto;
} */
.List-User{
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius); 
  background-color: white;
  min-width: 24em;
  padding: 2em;
  margin: 1em;
  min-height: 85vh;
  max-height: 85vh;
}
.List-User h2, .Groups h2{
  text-align: center;
  background-color: var(--secondary-color);
  padding: 0.2em;
  color: white;
  border-radius: var(--border-radius);
}
#userList{
margin-top: 1em;
  
}
.Groups{
  padding: 2em;
  background-color: var(--Box-color);
  margin: 2em;
  min-height: 15em;
  min-width: 15em;
  max-height: 20em;
  max-width: 20em;

  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media (max-width: 768px) {
  .Main-Container,
  .Features {
      padding: 1em;
      margin: 1em;
  }
  .Users{
    flex-direction: column;
  }
 .Main-Container{
      display: flex;
      flex-direction: column;        
  }
  .LogIn{
      margin:0;
  }
  .LogIn,
  .Features {
      width: 90%;
  }

  .Imgs img {
      width: 80%;
  }
} 
