@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --primary-color: #2a2a2a; /* Dark gray - text */
    --secondary-color: #C70039;
    --background-color: #f8f8f8; /* Off-white - backgrounds */
    --border-radius: 0.5em; /* Consistent border radius */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    background: var(--background-color);
}

.Main-Container {
    display: flex;
    flex-direction: row;
    align-items:center;
    box-shadow: var(--box-shadow);
    justify-content: start;
}

.Imgs img {
    max-width: 100%;
}


.LogIn {
    margin-l: 30em;
    width: 100%;
    max-width: 30em;
    margin: 1em;
    padding: 2em;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    
}

.LogIn h2 {
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
}
.Sepa{
    display: flex;
}
.LogIn form {
    display: flex;
    flex-direction: column;
}

.LogIn label {
    margin-bottom: .5em;
}

.LogIn input,
.LogIn button {
    width: calc(100% - 1.5em); /* Subtract padding and border */
    padding: 0.75em;
    margin-bottom: 1em;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

.LogIn button {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* Estilo de la etiqueta para opción 1 */
.LogIn label[for=option1],
.LogIn label[for=option2] { /* Aplicar el mismo estilo a ambas etiquetas de opción */
    background-color: #f8f8f8;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Ocultar el botón de radio predeterminado */
input[type='radio'] {
    display: none;
}

/* Estilo de la etiqueta cuando el botón de radio está seleccionado */
input[type='radio']:checked + label {
    background-color: var(--secondary-color);
    color: white;
}

.Second-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* full width to center within the body or parent element */
    max-width: 100%; /* prevents overflow */
}
footer h3{
    text-align: center;
    color: white;
}
footer{
    
    margin-top: 2em;
    padding: 3em;
    background-color: gray;
}

.Features {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    /* padding: 2em; */
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-direction: column;
    max-width: 50em;
    max-height: 50em;
}

.Features img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.Users {
    margin: 0.3em;
    display: flex;
    align-items: center;
}
.Features p{
    margin-left: 0.5em;
}

.Users img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-right: 1em;
}

.info {
    font-size: 1rem;
}
h3, h2{
    margin: 0.4em;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .Main-Container {
        padding: 1em;
    }

    .LogIn {
        margin: 1em;
        width: 90%;
    }

    .Imgs img {
        width: 80%;
    }
}
