.Main-Container{
  display: flex;
  flex-direction: row;  
}

.Dashbord{
  margin: 1em;
  height: 95vh;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius); 
  width: 100%;
  background-color: var(--Backgorund-Color);
}
.subContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: wrap;

}
.Dashbord h1, h2{
  margin-left: 1em;
  text-align: center;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: green;
}
.Dashbord-Container-Item, h3{
  text-align: center;
}
.Dashbord-Container-Item, h2{
  text-align: start;
}
.Dashbord-Container{  
  margin: 1em;
  display: flex;
  padding: 1em;
  background-color: gray;
  border-radius: 1em;
}
.Dashbord-Container-Item{
  min-height: 15em;
  min-width: 15em;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
